*.swp
*.un~
tags
.vim/.netrwhist
.vim/bundle
.vim/eclim
.vim/plugin
.DS_Store

# Xcode
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/xcshareddata
**/*.xcworkspace/xcuserdata/

# android studio
.gradle
/local.properties
.idea
.DS_Store
/config.properties

