[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
    ignore = dirty
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule ".tmux/used-mem"]
	path = .tmux/used-mem
	url = https://github.com/yonchu/used-mem.git
