[color]
    ui = auto

[user]
    name = dsk0701
    email = d.dubandtribal@gmail.com

[core]
    excludesfile = ~/.gitignore
    autocrlf = false

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 

[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[push]
    default = simple

[credential]
    helper = osxkeychain

#driver for merging XCode project files
[merge "mergepbx"]
    name = XCode project files merger
    driver = mergepbx %O %A %B

[http]
    sslVerify = false

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

